<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <form action="/login" method="post">
        <label class="label" for="">Login</label><br>
        <input type="text" placeholder="username" required name="login_username"><br>
        <input type="password" placeholder="password" required name="login_password"><br>
        <label for=""><a href="/registor">sign-up</a><b style="padding-left: 20px; color:white;">registor-page</b></label>
        <input type="submit">
    </form>
</body>
</html>